html(lang="en")
    head
        title SCOTT.emp CRUD
        meta(charset="UTF-8")
    body
        h1 사원 등록 폼
        form(name="empInsertForm",action="/empInsert.do",method="POST")
            p
                span 사번 :
                input(value="",name="empno")
            p
                span 이름 :
                input(value="",name="ename")
            p
                span 직책 :
                input(value="",name="job")
            p
                span 급여 :
                input(value="",name="sal")
            p
                span 상여급 :
                input(value="",name="comm")
            p
                span 입사일 : mysql.now()

            p
                span 상사 :
                input(value="",name="mgr")
            p
                span 부서 :
                input(value="",name="deptno")
            p
                button(type="submit") 등록제출
